/node_modules
/bootstrap
/config
/database
/public/hot
/public/storage
/storage
/storage/*.key
/tests
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
artisan
composer.lock
webpack.mix.js
yarn.lock